<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员列表</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">会员列表</div>
    <div class="panel-body">


        <!--列表模板-->
        <table class="table table-bordered" style="margin-top: 5px;">
            <thead>
            <tr>
                <th>会员名</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="member : ${list}">
                <td th:text="${member.mobile}"></td>
                <td th:text="${member.password}"></td>
                <td>
                    <a th:href="@{/member/update(id=${member.id})}">修改</a> |
                    <a href="javascript:void(0)" th:id="${member.id}" class="del">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('.del').click(function () {
        if (window.confirm('确认要删除该行数据?')) {
            $.ajax({
                url: "/member/delete?id=" + $(this).attr('id'),
                type: "GET",
                dataType: "json",
                success: function (data) {
                    alert(data.msg);
                    if (data.code == 0) {
                        setTimeout(function () {
                            window.location.href = "/member/list";
                        }, 1000);
                    }
                }
            });
        }
    });
</script>
</body>
</html>